### HYPOTHESIS TESTING 
Step 1: Verifying Cleaned Data
Make sure:
- The dataset has no missing or duplicate values.
- Numeric columns like Revenue and Budget are in the correct format (e.g., no text strings or special characters).
- Categories like Genre are consistent (e.g., no typos like “Action” vs. “action”).

Step 2: Define Your Groups
Decide what two groups you’ll compare for the t-test. For our two hypothesis tests below:
- Genre comparison: ActionAdventure scifi vs. Drama Romance.
Now that we’ve created the samples, let’s establish the hypotheses:
- Null Hypothesis (H₀): The average box office revenue for Action/Adventure/Sci-Fi movies is equal to that of Drama/Romance movies.
- Alternative Hypothesis (H₁): The average box office revenue for Action/Adventure/Sci-Fi movies is different (or higher) than Drama/Romance movies.




- Budget comparison: High-budget ($>$ $10M) vs. low-budget ($\leq$ $10M).

In [102]:
#extracting the cleaned datasets

In [90]:
import pandas as pd 
import numpy as np

In [91]:
film_df = pd.read_csv("zippedData/all_combined.csv")
film_df

c:\Users\hp\anaconda3\envs\learn-env\lib\site-packages\IPython\core\interactiveshell.py:3145: DtypeWarning: Columns (19) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

,movie_id,ordering,person_id,category,ordering.1,title,region,is_original_title,primary_title,original_title_x,...,Unnamed: 0,genre_ids,id_y,original_language,original_title_y,popularity,release_date_y,vote_average,vote_count,profits
0,tt0475290,10,nm0005683,cinematographer,24,"Hail, Caesar!",GB,0.0,"Hail, Caesar!","Hail, Caesar!",...,17497,"[35, 18, 9648]",270487,en,"Hail, Caesar!",12.312,2016-02-05,5.9,2328,42160680.0
1,tt0475290,1,nm0000982,actor,24,"Hail, Caesar!",GB,0.0,"Hail, Caesar!","Hail, Caesar!",...,17497,"[35, 18, 9648]",270487,en,"Hail, Caesar!",12.312,2016-02-05,5.9,2328,42160680.0
2,tt0475290,2,nm0000123,actor,24,"Hail, Caesar!",GB,0.0,"Hail, Caesar!","Hail, Caesar!",...,17497,"[35, 18, 9648]",270487,en,"Hail, Caesar!",12.312,2016-02-05,5.9,2328,42160680.0
3,tt0475290,3,nm2403277,actor,24,"Hail, Caesar!",GB,0.0,"Hail, Caesar!","Hail, Caesar!",...,17497,"[35, 18, 9648]",270487,en,"Hail, Caesar!",12.312,2016-02-05,5.9,2328,42160680.0
4,tt0475290,4,nm0000146,actor,24,"Hail, Caesar!",GB,0.0,"Hail, Caesar!","Hail, Caesar!",...,17497,"[35, 18, 9648]",270487,en,"Hail, Caesar!",12.312,2016-02-05,5.9,2328,42160680.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
50962,tt7153766,8,nm2722502,producer,8,Unsane,IT,0.0,Unsane,Unsane,...,23949,"[27, 53]",467660,en,Unsane,16.316,2018-03-23,6.2,667,12744931.0
50963,tt7153766,8,nm2722502,producer,15,Unsane,US,0.0,Unsane,Unsane,...,23949,"[27, 53]",467660,en,Unsane,16.316,2018-03-23,6.2,667,12744931.0
50964,tt7153766,9,nm10426133,composer,7,Unsane,SE,0.0,Unsane,Unsane,...,23949,"[27, 53]",467660,en,Unsane,16.316,2018-03-23,6.2,667,12744931.0
50965,tt7153766,9,nm10426133,composer,8,Unsane,IT,0.0,Unsane,Unsane,...,23949,"[27, 53]",467660,en,Unsane,16.316,2018-03-23,6.2,667,12744931.0
50966,tt7153766,9,nm10426133,composer,15,Unsane,US,0.0,Unsane,Unsane,...,23949,"[27, 53]",467660,en,Unsane,16.316,2018-03-23,6.2,667,12744931.0

In [92]:
film_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 50967 entries, 0 to 50966
Data columns (total 37 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   movie_id            50967 non-null  object
 1   ordering            50967 non-null  int64
 2   person_id           50967 non-null  object
 3   category            50967 non-null  object
 4   ordering.1          50967 non-null  int64
 5   title               50967 non-null  object
 6   region              50967 non-null  object
 7   is_original_title   50967 non-null  float64
 8   primary_title       50967 non-null  object
 9   original_title_x    50967 non-null  object
 10  start_year          50967 non-null  int64
 11  runtime_minutes     50967 non-null  float64
 12  genres              50967 non-null  object
 13  averagerating       50967 non-null  float64
 14  numvotes            50967 non-null  int64
 15  primary_name        50967 non-null  object
 16  primary_profession  50967 non-null  object
 17  studio              50967 non-null  object
 18  domestic_gross_x    50967 non-null  float64
 19  foreign_gross       50967 non-null  object
 20  year                50967 non-null  int64
 21  id_x                50967 non-null  int64
 22  release_date_x      50967 non-null  object
 23  movie               50967 non-null  object
 24  production_budget   50967 non-null  float64
 25  domestic_gross_y    50967 non-null  object
 26  worldwide_gross     50967 non-null  float64
 27  Unnamed: 0          50967 non-null  int64
 28  genre_ids           50967 non-null  object
 29  id_y                50967 non-null  int64
 30  original_language   50967 non-null  object
 31  original_title_y    50967 non-null  object
 32  popularity          50967 non-null  float64
 33  release_date_y      50967 non-null  object
 34  vote_average        50967 non-null  float64
 35  vote_count          50967 non-null  int64
 36  profits             50967 non-null  float64
dtypes: float64(9), int64(9), object(19)
memory usage: 14.4+ MB

In [93]:
box_office_df = pd.read_csv('zippedData/bom.movie_gross.csv.gz')
box_office_df

,title,studio,domestic_gross,foreign_gross,year
0,Toy Story 3,BV,415000000.0,652000000,2010
1,Alice in Wonderland (2010),BV,334200000.0,691300000,2010
2,Harry Potter and the Deathly Hallows Part 1,WB,296000000.0,664300000,2010
3,Inception,WB,292600000.0,535700000,2010
4,Shrek Forever After,P/DW,238700000.0,513900000,2010
...,...,...,...,...,...
3382,The Quake,Magn.,6200.0,NaN,2018
3383,Edward II (2018 re-release),FM,4800.0,NaN,2018
3384,El Pacto,Sony,2500.0,NaN,2018
3385,The Swan,Synergetic,2400.0,NaN,2018
3386,An Actor Prepares,Grav.,1700.0,NaN,2018

In [94]:
film_df['foreign_gross'].head()

0    33100000
1    33100000
2    33100000
3    33100000
4    33100000
Name: foreign_gross, dtype: object

In [95]:
#foreign gross was stored as a object we need to change it to a numeric

box_office_df['foreign_gross']=pd.to_numeric(box_office_df['foreign_gross'],errors='coerce')
box_office_df['revenue'] = box_office_df['domestic_gross'] + box_office_df['foreign_gross']

In [96]:
# Merge the two DataFrames first (assuming they both have 'film_id')
merged_df = pd.merge(film_df, box_office_df, on='title')

# Now you can filter easily:
action_movies_revenue = merged_df[merged_df['genres'] == 'Action,Adventure,Sci-Fi']['revenue']
animation_movies_revenue = merged_df[merged_df['genres'] == 'Adventure,Animation,Sci-Fi']['revenue']

In [97]:
film_df['genres'].value_counts()

Action,Adventure,Sci-Fi        3020
Adventure,Animation,Comedy     2920
Drama,Romance                  1905
Action,Adventure,Drama         1860
Action,Adventure,Fantasy       1770
                               ...
Fantasy,Horror                    7
Crime,Documentary,History         6
Action,Comedy,Drama               6
Musical                           5
Adventure,Documentary,Drama       4
Name: genres, Length: 204, dtype: int64

In [98]:


# Filter for movies with the genre 'Action,Adventure,Sci-Fi'
filtered_df = film_df[film_df['genres'] == 'Adventure,Animation,Comedy']

# Get 30% of the filtered dataset as a random sample
sample_df = filtered_df.sample(frac=0.3, random_state=42)  # Use random_state for reproducibility

print(sample_df)

        movie_id  ordering  person_id  category  ordering.1            title  \
45574  tt3411444         6  nm0047916    writer          11        Ferdinand
45607  tt3411444         8  nm0178589    writer          24        Ferdinand
45496  tt3411444        10  nm0452235    writer          24        Ferdinand
20206  tt1860353         1  nm0005351     actor          21            Turbo
34719  tt2296777         2  nm0564215     actor           8  Sherlock Gnomes
...          ...       ...        ...       ...         ...              ...
7294   tt2294629         3  nm2676147     actor          44           Frozen
32806  tt0435761         5  nm0881279  director          22      Toy Story 3
20329  tt1860353         8  nm0829601  producer          27            Turbo
15314  tt1436562        10  nm0893262    writer          20              Rio
45515  tt3411444         2  nm0571952   actress           9        Ferdinand

      region  is_original_title    primary_title original_title_x  ...  \
45574     HR                0.0        Ferdinand        Ferdinand  ...
45607     US                0.0        Ferdinand        Ferdinand  ...
45496     US                0.0        Ferdinand        Ferdinand  ...
20206     RO                0.0            Turbo            Turbo  ...
34719     UY                0.0  Sherlock Gnomes  Sherlock Gnomes  ...
...      ...                ...              ...              ...  ...
7294      MY                0.0           Frozen           Frozen  ...
32806     ES                0.0      Toy Story 3      Toy Story 3  ...
20329     RS                0.0            Turbo            Turbo  ...
15314     VE                0.0              Rio              Rio  ...
45515     ES                0.0        Ferdinand        Ferdinand  ...

       Unnamed: 0                             genre_ids    id_y  \
45574       23906                   [16, 10751, 12, 35]  364689
45607       20664                   [16, 10751, 12, 35]  364689
45496       23906                   [16, 10751, 12, 35]  364689
20206        7930                           [16, 10751]   77950
34719       24038  [10749, 16, 35, 10751, 14, 9648, 12]  370567
...           ...                                   ...     ...
7294          148                                  [53]   44363
32806           7                       [16, 10751, 35]   10193
20329        7930                           [16, 10751]   77950
15314        2517                   [16, 12, 35, 10751]   46195
45515       20664                   [16, 10751, 12, 35]  364689

       original_language  original_title_y popularity release_date_y  \
45574                 en         Ferdinand     19.479     2017-12-15
45607                 en         Ferdinand     19.479     2017-12-15
45496                 en         Ferdinand     19.479     2017-12-15
20206                 en             Turbo     14.876     2013-07-19
34719                 en   Sherlock Gnomes     12.987     2018-03-23
...                  ...               ...        ...            ...
7294                  en            Frozen      9.678     2010-02-05
32806                 en       Toy Story 3     24.445     2010-06-17
20329                 en             Turbo     14.876     2013-07-19
15314                 en               Rio     14.695     2011-04-15
45515                 en         Ferdinand     19.479     2017-12-15

      vote_average  vote_count       profits
45574          7.1        1425  1.788479e+08
45607          7.1        1425  1.788479e+08
45496          7.1        1425  1.788479e+08
20206          6.1        1758  1.518966e+08
34719          5.4         343  2.852765e+07
...            ...         ...           ...
7294           5.8         987  1.122470e+09
32806          7.7        8340  8.688795e+08
20329          6.1        1758  1.518966e+08
15314          6.6        3730  3.975198e+08
45515          7.1        1425  1.788479e+08

[876 rows x 37 columns]

In [99]:

# Filter for Action, Adventure, Sci-Fi genre movies
action_adventure_sci_fi = film_df[film_df['genres'].str.contains('Action|Adventure|Sci-Fi', na=False)]

# Filter for Adventure Animation genre movies
animation_movies= film_df[film_df['genres'].str.contains('Adventure|Animation|Comedy', na=False)]

# Take a sample of 30% from each group
sample_action = action_adventure_sci_fi.sample(frac=0.3, random_state=42)
sample_animation = animation_movies.sample(frac=0.3, random_state=42)

print("Action/Adventure/Sci-Fi Sample Size:", len(sample_action))
print(" Adventure/Animation/Comedy Sample Size:", len(sample_drama))

Action/Adventure/Sci-Fi Sample Size: 8109
 Adventure/Animation/Comedy Sample Size: 1390

Now that we’ve created the samples, let’s establish the hypotheses:
- Null Hypothesis (H₀): The average box office revenue for Action/Adventure/Sci-Fi movies is equal to that of Drama/Romance movies.
- Alternative Hypothesis (H₁): The average box office revenue for Action/Adventure/Sci-Fi movies is different (or higher) than Drama/Romance movies.

Step 3: Perform T-Test
A two-sample t-test is appropriate since we’re comparing the means of two independent groups.
Code for T-Test:

In [100]:
#
film_df['revenue'] = box_office_df['domestic_gross'] + box_office_df['foreign_gross']

In [101]:
from scipy.stats import ttest_ind

# 1. Filter Action and Animation movies
sample_action = film_df[film_df['genres'] == 'Action']
sample_drama = film_df[film_df['genres'] == 'Drama']

# 2. Extract revenue columns
action_revenue = sample_action['revenue']
animation_movies_revenue = sample_animation['revenue']

# 3. Perform Welch's t-test
t_stat, p_value = ttest_ind(action_revenue, animation_revenue, equal_var=False)

# 4. Print Results
print("T-Statistic:", t_stat)
print("P-Value:", p_value)

# 5. Interpretation
if p_value <= 0.05:
    print("Reject the null hypothesis: Significant difference in revenue.")
else:
    print("Fail to reject the null hypothesis: No significant difference in revenue.")

KeyError: 'revenue'

In [ ]:
# Check for missing or invalid values in Revenue
print(sample_action['revenue'].isna().sum())  # Count missing values in the Action sample
print(sample_animation['revenue'].isna().sum())   # Count missing values in the Animation sample

# Drop rows with missing or invalid values in Revenue
sample_action = sample_action.dropna(subset=['revenue'])
sample_drama = sample_animation.dropna(subset=['revenue'])

30

KeyError: 'revenue'

In [ ]:
#check the error for data types

sample_action['revenue'] = pd.to_numeric(sample_action['revenue'], errors='coerce')
sample_animation['revenue'] = pd.to_numeric(sample_animation['revenue'], errors='coerce')

# Check if the conversion worked
print(sample_action['revenue'].dtypes)
print(sample_animation['revenue'].dtypes)

<ipython-input-88-79a1ecdd8568>:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  sample_action['revenue'] = pd.to_numeric(sample_action['revenue'], errors='coerce')

KeyError: 'revenue'